@import url('https://cdn.quilljs.com/1.3.6/quill.snow.css');

#editor-container {
  border: 1px solid #ccc;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  height: 200px;
  margin: 0 auto;
  /*width: 450px;*/
  width: 100%;
}
#editor-container h1 + p,
#editor-container h2 + p {
  margin-top: 0.5em;
}
#editor-container blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}
#editor-container hr {
  border: none;
  color: #111;
  /*letter-spacing: 1em; */
  text-align: center;
}
#editor-container hr:before {
  content: '...';
}
